version: "3.9"

services:

  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"

  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: backend
    ports:
      - "4000:4000"

  gateway:
    build:
      context: .
      dockerfile: gateway.Dockerfile
    container_name: gateway
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
      - backend
    environment:
     - PORT=3000
     - MONGO_URI=mongodb://mongodb:27017/apigateway
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - gateway
